# 표준 시간 설정
TZ=Asia/Seoul

# 데이터베이스 설정
DATABASE_HOST=localhost
DATABASE_PASSWORD=0000
DATABASE_PORT=3306
DATABASE_SCHEMA=real_ticket
DATABASE_SYNCHRONIZE=false
DATABASE_TYPE=mysql
DATABASE_USERNAME=user

# Redis 설정
REDIS_HOST=localhost
REDIS_PORT=6379

# 프론트엔드 URL
FRONT_URL=http://localhost:30000

# 로그 저장 설정
LOG_MAX_SIZE=20m
LOG_MAX_LIFE=30d
LOG_ZIP=true
